body {
  font-family: Helvetica, Arial, sans-serif; /* Set the default font for the entire document */
}

.container {
  display: flex;
  align-items: flex-start; /* Adjust alignment to the top */
}

.image {
  width: 200px; /* Adjust the width as needed */
  margin-right: 20px;
}

.bio {
  flex: 1;
  padding: 20px; /* Add padding to the text on the left */
}

.bio h2 {
  text-align: left; /* Align heading to the left */
  font-size: 24px; /* Editable font size for heading */
}

.bio p {
  text-align: justify; /* Align paragraphs to justify */
  font-size: 16px; /* Editable font size for paragraphs */
  max-width: calc(55% - 220px); /* Adjust maximum width to prevent overlap with the image */
  word-wrap: break-word; /* Ensure text wraps to the next line */
}

.links {
  text-align: left; /* Align links to the left */
  margin-top: 10px;
}

.resume-link, .linkedin-link, .email-link {
  display: block; /* Display links as block elements */
  font-size: 14px; /* Editable font size for links */
  margin-bottom: 5px;
  color: white; /* Set text color to white */
  text-decoration: none; /* Remove underline by default */ /* Add margin between links */
}

.resume-link:hover,
.linkedin-link:hover,
.email-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

.resume-link img, .linkedin-link img, .email-link img {
  height: 2em; /* Limit height of icons to match font size */
  width: auto; /* Set width to auto for responsive resizing */
  margin-right: 5px; /* Add spacing between icon and text */
}

.biosl3 {
  flex: 1;
  padding: 20px; /* Add padding to the text on the left */
}

.biosl3 h2 {
  text-align: left; /* Align heading to the left */
  font-size: 24px;
  max-width: calc(55% - 220px); /* Editable font size for heading */
}

.biosl3 p {
  text-align: justify; /* Align paragraphs to justify */
  font-size: 16px; /* Editable font size for paragraphs */
  max-width: calc(55% - 220px); /* Adjust maximum width to prevent overlap with the image */
  word-wrap: break-word; /* Ensure text wraps to the next line */
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.s1 {
  background: url("../images/AboutMe.png");
  background-size: cover;
  color: white;
  background-position-y: -22px;
}

.sl1 {
  background: url("../images/Section1_Slide1.gif");
  background-size: cover;
  color: white;
}

.sl2 {
  background: url("../images/Section1_Slide2.gif");
  background-size: cover;
  color: white;
}

.sl3 {
  background-color: black;
  background-size: cover;
  color: white;
}

.sl4 {
  background: url("../images/Section1_Slide4.gif");
  background-size: cover;
  color: white;
}

.sl5 {
  background-color: black;
  color: white;
}

.s3 {
  background-color: black;
  color: white;
}
.s3 h1 {
  text-align: left;
  margin-left: 2em;
  font-size: 10em;
}

.s4 {
  background-color: black;
  color: white;
}
.s4 h1 {
  text-align: left;
  margin-left: 2em;
  font-size: 10em;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 0%;
  opacity: 1;
  margin-left: 50% !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.fp-controlArrow {
  top: 99%;
}

.fp-arrow.fp-next {
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}

.fp-arrow.fp-prev {
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.slide {
  position: relative;
}

.video-container {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  /* Adjust width and height of the logo as needed */
  width: 300px;
  height: auto;
}

.sl3img {
  position: absolute;
  top: 20%;
  right: 100px;
  /* Adjust width and height of the logo as needed */
  width: 750px;
  height: auto;
}

.video-container2 {
  position: absolute;
  top: 80%;
  right: 10%;
  transform: translateY(-50%);
}

.imagesl3_1_1 {
  position: absolute;
  top: 15%;
  Right: 10%;
  width: 650px;
  height: auto;
}

.imagesl3_1_2 {
  position: absolute;
  top: 15%;
  Right: 10%;
  width: 650px;
  height: auto;
}

.imagesl3_3_1 {
  position: absolute;
  background-color: #fff;
  top: 25%;
  Right: 10%;
  width: 850px;
  height: auto;
}

.imagesl4_1_1 {
  position: absolute;
  background-color: transparent;
  top: 10%;
  Right: 10%;
  width: 700px;
  height: auto;
}/*# sourceMappingURL=main.css.map */