h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.s1{
    background:url('../images/AboutMe.png');
    background-size: cover;
    color: white;
    background-position-y: -22px;
    
}

.sl1{
    background:url('../images/Section1_Slide1.gif');
    background-size: cover;
    color: white;
    
    
    
}

.sl2{
    background:url('../images/Section1_Slide2.gif');
    background-size: cover;
    color: white;

    
    
}

.sl3{
    background:url('../images/Section1_Slide3.png');
    background-size: cover;
    color: white;

    
    
}

.sl4{
    background:url('../images/Section1_Slide3.png');
    background-size: cover;
    color: white;

    
    
}

.s3{
    background:url('../images/c.jpg');
    background-size: cover;
    color: black;
    h1{
        text-align: left;
        margin-left: 2em;
        font-size: 10em;
    }
    
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 0%;
    opacity: 1;
    margin-left: 50% !important;
    }
    #fp-nav ul li a span, 
    .fp-slidesNav ul li a span{
      background: white;
    }

    .fp-controlArrow {

        top: 99%;
    }
    .fp-arrow.fp-next {
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent #fff;
    }

    .fp-arrow.fp-prev {
        border-width: 10px 10px 10px 0;
        border-color: transparent #fff transparent transparent;
    }
    
    